@font-face {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
  src: url('../fonts/noto-serif-v21-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
       url('../fonts/noto-serif-v21-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-serif-v21-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-serif-v21-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-serif-v21-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-serif-v21-latin-700.svg#NotoSerif') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: "Gilroy-Medium";
    font-display: swap;
    src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Regular";
    font-display: swap;
    src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Semibold";
    font-display: swap;
    src: url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

@media screen and (min-width: 1000px) {

    body {
        background: url(/assets/image/bgc.png) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .container {
        display: grid;
        grid-template-rows: 10% 1fr 1fr 1fr 10%;
        justify-items: center;
        height: 100vh;
        width: 100vw;
    }

    .header {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr 3fr 1fr 1fr 2fr 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    .header__link {
        text-decoration: none;
        color: #FFFFFF;
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 0.8em;
        line-height: 150%;
    }

    .logo {
        width: 8em;
    }

    .pctr {
        width: 0.8em;
    }

    .main {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 5vh;
    }

    .text {
        display: grid;
        align-self: flex-end;
        justify-items: center;
        width: 100vw;
    }

    h1 {
        text-align: center;
        font-family: 'Noto Serif';
        font-style: normal;
        font-weight: 700;
        font-size: 2em;
        line-height: 49px;
        color: #FFFFFF;
    }

    .button_1 {
        width: 20vw;
    }

    .article {
        display: grid;
        width: 100%;
        height: 100%;
    }

    .article_div {
        display: grid;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
    }

    .article_link{
        text-decoration: none;
        color: #FFFFFF;
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 2em;
        line-height: 150%;
    }

    .aside {
        display: grid;
        width: 100%;
        height: 100%;
    }

    .aside_div {
        display: grid;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
    }

    .aside_link {
        text-decoration: none;
        color: #FFFFFF;
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 2em;
        line-height: 150%;
    }

    .footer {
        width: 100vw;
        display: grid;
        grid-template-columns: 8% 1% 8% 1% 8% 1% 8% 1% 8% 1% 8%;
        grid-template-rows: 1fr;
        justify-content: center;
        justify-items: center;
        align-items: flex-start;
        align-self: center;
        gap: 20px;
    }

    .jewelry {
        height: 3em;
        width: 9em;
    }

    .line {
        height: 2.5em;
    }
}

@media screen and (min-width: 600px) and (max-width: 999px) {
    body {
        background: url(/assets/image/bgc.png) no-repeat;
        background-size: cover;
        background-position: center;
    }

    .container {
        display: grid;
        grid-template-rows: 10% 1fr 1fr 1fr 10%;
        justify-items: center;
        height: 100vh;
        width: 100vw;
    }

    .header {
        display: grid;
        grid-template-columns: 2fr 2fr 1.5fr 3fr 0.5fr 1fr 3fr 0.5fr 0.5fr;
        align-items: center;
        justify-items: center;
        padding: 2%;
    }

    .header__link {
        text-decoration: none;
        color: #FFFFFF;
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 0.8em;
        line-height: 150%;
    }

    .logo {
        width: 6em;
    }

    .pctr {
        width: 0.8em;
    }

    .main {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }

    .text {
        display: grid;
        align-self: flex-end;
        justify-items: center;
        width: 100vw;
    }

    h1 {
        text-align: center;
        font-family: 'Noto Serif';
        font-style: normal;
        font-weight: 700;
        font-size: 2em;
        color: #FFFFFF;
    }

    .button_1 {
        width: 30vw;
    }

    .article {
        display: grid;
        width: 100%;
        height: 100%;
    }

    .article_div {
        display: grid;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
    }

    .article_link{
        text-decoration: none;
        color: #FFFFFF;
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 2em;
    }

    .aside {
        display: grid;
        width: 100%;
        height: 100%;
    }

    .aside_div {
        display: grid;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
    }

    .aside_link {
        text-decoration: none;
        color: #FFFFFF;
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 2em;
    }

    .footer {
        height: 6.5vh;
        width: 100vw;
        display: grid;
        grid-template-columns: 8% 1% 8% 1% 8% 1% 8%;
        justify-content: center;
        justify-items: center;
        gap: 2.5em;
    }

    .footer__div13 {
        display: none;
    }

    .footer__div3 {
        display: none;
    }

    .jewelry {
        height: 3em;
        width: 9em;
    }

    .line {
        height: 2.5em;
    }
}


@media screen and (max-width: 599px) {
    .footer {
        display: none;
    }

    body {
        background: url(/assets/image/bgc.png) no-repeat;
        height: 10vh;
        background-position: center;
    }

    .container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
        height: 100vh;
    }

    .header {
        display: grid;
        grid-template-rows: 2fr 2fr 2fr 3fr 1fr 1fr 2fr 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

    .header__link {
        text-decoration: none;
        color: #FFFFFF;
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 0.8em;
        line-height: 150%;
    }

    .pctr {
        display: none;
    }

    .logo {
        width: 80px;
    }

    .main {
        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        align-items: end;
    }

    .text {
        display: grid;
        align-self: flex-end;
        justify-items: center;
    }

    h1 {
        text-align: center;
        font-family: 'Noto Serif';
        font-style: normal;
        font-weight: 700;
        font-size: 1em;
        line-height: 49px;
        color: #FFFFFF;
    }

    .button_1 {
        width: 12em;
    }

    .article {
        display: grid;
        width: 100%;
        height: 100%;
    }

    .article_div {
        display: grid;
        justify-content: center;
        align-content: space-between;
        width: 100%;
        height: 100%;
    }

    .article_link{
        text-decoration: none;
        color: #FFFFFF;
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 1.5em;
        line-height: 150%;
    }

    .aside {
        display: grid;
        width: 100%;
        height: 100%;
    }
    
    .aside_div {
        display: grid;
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
    }

    .aside_link {
        text-decoration: none;
        color: #FFFFFF;
        font-family: 'Gilroy-Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
        line-height: 150%;
    }
}
